In [20]:
df = pd.read_csv('d:\\Atom\\python\\result.csv')

In [8]:
matl_cnt = len(df['MATERIALS'].unique())
pos_cnt = len(df['POSITION'].unique())
len(df)

159

In [30]:
result = np.zeros((len(df), len(df)))
result.fill(np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   POSITION     160 non-null    int64
 1   MATERIALS    160 non-null    object
 2   GUESSED POS  159 non-null    float64
 3   GUESSED      159 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 5.1+ KB

In [43]:
d = {'vinegar': 0, 'empty': 1, 'water': 2, 'oil2': 3}
for index, row in df.iterrows():
    ans = 0
    if np.isnan(row['GUESSED POS']):
        continue
    if row['POSITION'] == row['GUESSED POS']:
        ans += 50
    if row['MATERIALS'] == row['GUESSED']:
        ans += 50
    
    guessed = int((row['GUESSED POS']-30)/3 + d[row['GUESSED']]*40)
    result[index][guessed] = ans

In [46]:
import scipy.io
scipy.io.savemat('test.mat', {'mydata': result})

In [22]:
for name, group in df.groupby('MATERIALS'):
    print(name, len(group))

empty 40
oil2 40
vinegar 40
water 40

In [19]:
must = np.arange(30, 150, 3)
actual = df.groupby('MATERIALS').get_group('oil2')['POSITION']
np.setdiff1d(must, actual)

array([39])

In [29]:
df[df['GUESSED'].isnull()]

     POSITION MATERIALS  GUESSED POS GUESSED
123        39      oil2          NaN     NaN

In [31]:
df['MATERIALS'].unique()

array(['vinegar', 'empty', 'water', 'oil2'], dtype=object)

In [47]:
result[35,:]

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan,  0., nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan])