In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([35.467, 63.951, 80.940, 124.093, 318.523])

In [3]:
s1

0     35.467
1     63.951
2     80.940
3    124.093
4    318.523
dtype: float64

In [4]:
s1.name = 'G7 Population in millions'

In [5]:
s1.dtype

dtype('float64')

In [7]:
s1.values

array([ 35.467,  63.951,  80.94 , 124.093, 318.523])

In [9]:
s1[2]

80.94

In [11]:
s1.index = ['Canada', 'China', 'Japan', 'US', 'UK']

In [12]:
s1

Canada     35.467
China      63.951
Japan      80.940
US        124.093
UK        318.523
Name: G7 Population in millions, dtype: float64

__like an ordered dictionary__

In [13]:
s1['Japan']

80.94

In [14]:
s1[2]

80.94

In [16]:
s1.iloc[2]

80.94

### Multi-indexing

In [18]:
s1[['China', 'UK']]

China     63.951
UK       318.523
Name: G7 Population in millions, dtype: float64

In [19]:
s1.iloc[[0, 1]]

Canada    35.467
China     63.951
Name: G7 Population in millions, dtype: float64

In [20]:
l = [2, 5, 6]

In [21]:
l[:2]

[2, 5]

In [22]:
s1['China':'UK']

China     63.951
Japan     80.940
US       124.093
UK       318.523
Name: G7 Population in millions, dtype: float64

In [23]:
s1

Canada     35.467
China      63.951
Japan      80.940
US        124.093
UK        318.523
Name: G7 Population in millions, dtype: float64

In [24]:
s1 * 1_000_000

Canada     35467000.0
China      63951000.0
Japan      80940000.0
US        124093000.0
UK        318523000.0
Name: G7 Population in millions, dtype: float64

In [25]:
s1 > 70

Canada    False
China     False
Japan      True
US         True
UK         True
Name: G7 Population in millions, dtype: bool

In [26]:
s1[s1 > 70]

Japan     80.940
US       124.093
UK       318.523
Name: G7 Population in millions, dtype: float64

In [28]:
s1[s1 > s1.mean()]

UK    318.523
Name: G7 Population in millions, dtype: float64

In [29]:
s1.std()

113.06588271092212

In [38]:
s1[(s1 > s1.mean() - s1.std() /2) & (s1 < s1.mean() + s1.std() / 2)]

Japan     80.940
US       124.093
Name: G7 Population in millions, dtype: float64

In [34]:
s1

Canada     35.467
China      63.951
Japan      80.940
US        124.093
UK        318.523
Name: G7 Population in millions, dtype: float64

In [36]:
s1.mean()

124.5948

In [39]:
np.log(s1)

Canada    3.568603
China     4.158117
Japan     4.393708
US        4.821031
UK        5.763695
Name: G7 Population in millions, dtype: float64

In [40]:
s1['Japan'] = 100

In [41]:
s1

Canada     35.467
China      63.951
Japan     100.000
US        124.093
UK        318.523
Name: G7 Population in millions, dtype: float64

In [42]:
s1.iloc[-1] = 500

In [43]:
s1

Canada     35.467
China      63.951
Japan     100.000
US        124.093
UK        500.000
Name: G7 Population in millions, dtype: float64

In [44]:
s1[s1 <= 100] = 99.9

In [45]:
s1

Canada     99.900
China      99.900
Japan      99.900
US        124.093
UK        500.000
Name: G7 Population in millions, dtype: float64

In [7]:
df = pd.read_csv('d:\\atom\\exp\\20210220\\12cm_oil.csv', parse_dates=False)

In [10]:
df['TIME'] = pd.to_datetime(df['TIME'])

D:\ProgramData\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1213: UnknownTimezoneWarning: tzname CST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [11]:
df

,CHANNEL,EPC,PHASE,RSSI,TIME
0,926.75,E280 1160 6000 0209 5014 ECA0,1.932816,-67.0,2021-02-20 16:04:13
1,926.75,E200 0000 0000 0000 0000 1A21,0.159534,-69.0,2021-02-20 16:04:13
2,926.75,E200 0000 0000 0000 0000 1A10,5.957981,-54.5,2021-02-20 16:04:13
3,926.75,3008 33B2 DDD9 0140 0000 0000,0.300660,-28.0,2021-02-20 16:04:13
4,926.75,E280 1160 6000 0209 5015 02C1,1.724194,-64.5,2021-02-20 16:04:13
...,...,...,...,...,...
3447,918.75,E200 0000 0000 0000 0000 1A10,2.859340,-54.5,2021-02-20 16:04:32
3448,918.75,E200 0000 0000 0000 0000 1A20,3.969942,-62.0,2021-02-20 16:04:32
3449,918.75,E280 1160 6000 0209 5014 ECA0,5.614370,-64.0,2021-02-20 16:04:32
3450,918.75,E200 0000 0000 0000 0000 1A11,2.902292,-59.0,2021-02-20 16:04:32
3451,918.75,E200 0000 0000 0000 0000 AAA2,4.841243,-59.5,2021-02-20 16:04:32

In [13]:
df.head(20)

    CHANNEL                            EPC     PHASE  RSSI                TIME
0    926.75  E280 1160 6000 0209 5014 ECA0  1.932816 -67.0 2021-02-20 16:04:13
1    926.75  E200 0000 0000 0000 0000 1A21  0.159534 -69.0 2021-02-20 16:04:13
2    926.75  E200 0000 0000 0000 0000 1A10  5.957981 -54.5 2021-02-20 16:04:13
3    926.75  3008 33B2 DDD9 0140 0000 0000  0.300660 -28.0 2021-02-20 16:04:13
4    926.75  E280 1160 6000 0209 5015 02C1  1.724194 -64.5 2021-02-20 16:04:13
5    926.75  E280 1160 6000 0207 A652 5964  1.036971 -65.0 2021-02-20 16:04:13
6    926.75  E200 0000 0000 0000 0000 AAA2  6.221826 -59.0 2021-02-20 16:04:13
7    926.75  E200 0000 0000 0000 0000 1A20  6.111379 -64.0 2021-02-20 16:04:13
8    926.75  E200 0000 0000 0000 0000 1A11  6.099108 -60.5 2021-02-20 16:04:13
9    915.75  E280 1160 6000 0207 A652 5964  0.233165 -61.5 2021-02-20 16:04:13
10   915.75  E200 0000 0000 0000 0000 1A21  5.289166 -66.0 2021-02-20 16:04:13
11   915.75  E280 1160 6000 0209 5014 ECA0  0.834486 -62.0 2021-02-20 16:04:13
12   915.75  E200 0000 0000 0000 0000 1A10  4.129476 -54.0 2021-02-20 16:04:13
13   915.75  E280 1160 6000 0209 5015 02C1  1.300816 -62.0 2021-02-20 16:04:13
14   915.75  3008 33B2 DDD9 0140 0000 0000  3.184544 -29.0 2021-02-20 16:04:13
15   915.75  E200 0000 0000 0000 0000 1A20  5.289166 -60.5 2021-02-20 16:04:13
16   915.75  E200 0000 0000 0000 0000 AAA2  0.503146 -61.0 2021-02-20 16:04:13
17   915.75  E200 0000 0000 0000 0000 1A11  4.117204 -59.0 2021-02-20 16:04:13
18   915.75  E200 0000 0000 0000 0000 1A21  5.387341 -66.0 2021-02-20 16:04:13
19   915.75  E200 0000 0000 0000 0000 AAA2  0.423379 -60.5 2021-02-20 16:04:13